/* BODY SECTION */
html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #2B2733;
  color: #CBC9CF;
  font-weight: 300;
  margin: 0px;
  height: 100%;
}
/* *{
  border: 1px solid red;
} */

/* NAVIGATE BAR */
.nav-bar {
  height: 80px;
  background-color:#47434D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color:#c1b9b9;
}

/* MAIN PAGE */
.main-page {
  display:flex;
  justify-content:space-between;
  height: 100%;
}

/* LEFT SECTION */

.left-section {
  display:flex;
  flex-direction: column;
  border-right: solid 4px #47434D;
}
.new-activity-form{
  background-color: #47434D;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-bottom: 100px;
  border-radius: .75%;
}

.left-header {
  margin: 50px 0px 10px 42px;
  font-size: 20px;
  color: #c1b9b9;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

 .select-category {
   margin-left: 98px;
   color: #c1b9b9;
   margin-top: 50px;
 }

/* CATEGORY BUTTONS */

.study-button,
.meditate-button,
.exercise-button {
background-color: #47434D;
height: 30px;
height: 60px;
width: 148px;
border: 2px solid #CBC9CF;
border-radius: 5%;
color: #CBC9CF;
font-size: 16px;
padding: 0;
}

.study-button {
  background-image: url(./assets/study.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50% 20%;
  padding-top: 2px;
}

/* FORM INPUT FIELDS */
.goals,
.minutes,
.seconds {
  background-color: #47434D;
  border-bottom-color: #c1b9b9;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  width: 300px;
}
.goals {
  width: 500px;
  margin-top: 20px;
}

.input-container {
  margin: 50px 100px;
}

.start-activity {
  border: none;
  border-radius: 5%;
  height: 30px;
  width: 150px;
}



/* RIGHT SECTION */

.past-activity {
  background-color:#2B2733 ;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  width: 35%;
  /* border-left: solid 4px #47434D; */
}

.right-header{
  margin: 25px;
  font-size: 20px;
  color: #c1b9b9;
  margin:50px 0px 10px 20px;
}
.right-message {
  display: flex;
  justify-content: center;
  color: #c1b9b9;
  text-align: center;
  font-size: 14px;
}

.hidden {
  display:none;
}
